header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}

.buttons {
    display: flex;
    gap: 4px;

    button {
        font-weight: bold;
        font-size: 18px;
        border: none;
        border-radius: 4px;
        padding: 4px 8px;
        cursor: pointer;
    }
    
    button.transparent { 
        background-color: transparent;
    }
    
    button.filled {
        background-color: #00623B;
        color: #fff;
    }

}

