* {
    font-family: 'Raleway', sans-serif;
    background-color: #E7E7E7;
    color: #101010;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
}
